# built application files
*.apk
*.ap_

# files for the dex VM
*.dex

# Java class files
*.class

/libBerryMotes

# Local configuration files (sdk path, etc)
/local.properties
.gradle
/.idea/workspace.xml
/.idea/libraries
/.idea/dictionaries
build/

*~
